/*
 I certify that the CSS file I am submitting is all my own work.
 None of it is copied from any source or any person.
 Signed: Thomas Vale.
 Date: 8/3/2024
*/

/*
 Author: Thomas Vale
 Date: 8/3/2024
 Class: CSC135
 Project: Project Part 3
 File Name: scripts.css
 Description: Create a multi-page website for Alaska Awaits
*/

/*
https://learn.zybooks.com/zybook/CSPCSC135DuerreSummer2024/chapter/4/
https://learn.zybooks.com/zybook/CSPCSC135DuerreSummer2024/chapter/5/
https://www.myfonts.com/pages/whatthefont
https://www.w3.org/Style/Examples/007/figures.en.html
https://www.youtube.com/watch?v=MY2hwIhlXVY
https://www.w3schools.com/accessibility/accessibility_skip_links.php
*/

/********************** Styling for the whole document **********************/

html {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    overflow-x: hidden;
    background: #515151;
    margin: 0;
}

/********************** Styling for the whole document **********************/

/************************** Styling for the header **************************/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
    background-image: url("../images/alaskainterior.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

h1 {
    flex-grow: 1;
    color: rgb(0, 0, 0);
    font-family: "Bradley Hand ITC";
    font-size: 3rem;
    background-color: #e6e6e6;
    border: .15rem solid black;
    border-radius: 1.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    margin: 2rem auto;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 1rem;
}

.navbar ul li {
    flex-grow: 1;
    text-align: center;
}

.buttontxt {
    height: auto;
    padding: .25rem;
    min-width: 10rem;
    border: solid 2px black;
    box-shadow: 2px 2px 3px;
    border-radius: 10px;
    background-color: #e6e6e6;
}

a {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.buttontxt:hover {
    transform: scale(1.1);
    color: #2c2ceb;
    background: radial-gradient(#e6e6e6, #515151);
}

.buttontxt:active {
    transform: scale(0.95);
}

/********************* End of styling for the header ***********************/

/******************************* Homepage **********************************/

.main {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-activities {
    background-color: white;
    border-radius: 30px;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    font-size: 14pt;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-activities p {
      margin: 10px 10px;
}

.about-activities ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/***************************** END HOMEPAGE ********************************/

/******************** BEGINNING OF PICTURE SLIDESHOW ***********************/

.slideshow {
    max-width: 80%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slideshow img {
    width: 100%;
    display: none;
    border-radius: 30px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    color: rgb(128, 125, 125);
    font-size: 28pt;
}

/* Moves right arrow */
.next {
    right: 0;
}

aside button:hover {
    color: #464b48;
}

img.displaySlide {
    display: block;
}

/************************** END OF PICTURE SLIDESHOW ************************/

/****************************** START OF FOOTER ****************************/
.footergrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    background-color: #e6e6e6;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: .5rem;
    margin-top: 2rem;
    justify-items: center;
    align-items: center;
    border: .1rem solid black;
    border-radius: 1rem;
}

/*
The figure in the footer uses the display table property,
with the caption moved to the top side of the image. W3Schools
was the resource used to help with this.
*/

figure {
    display: table;
}

figcaption {
    display: table-caption;
    caption-side: top;
}

/*
The footer is defined as areas similar to the main grid.
This allows the content to adjust dynamically, and with media
queries, I could stack the items if necessary. In this case, 
the footer looks good all the way down to 300px without stacking.
*/

.areaf1 {
    justify-content: center;
    grid-column: span 3;
    font-size: 1.5rem;
    color: black;
}

.areaf2 a {
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    color: black;
}

/*
For the center area of the footer, I wanted to mirror
the "logo" created with the Alaska Awaits font and styles
in the header, so I went with a black background and white
text with a matching font.
*/

.areaf3 {
    font-family: "Bradley Hand ITC";
    font-weight: bolder;
    color: white;
    font-size: 1rem;
    background-color: black;
    border-radius: 1.5rem;
    padding: .5rem;
    height: fit-content;
    width: fit-content;
}

.areaf4 {
    padding: .5rem;
    height: fit-content;
    width: fit-content;
}

.areaf5 {
    grid-column: span 3;
}

/*
The hover effect here was giving me issues. I attempted to place
it in multiple locations within the CSS, but certain items did not
change color when hovering. I got around this by adding the !important
emphasis to the property.
*/

a:hover {
    color: #2c2ceb !important;
}

/******************************* END OF FOOTER ******************************/

/*
Menu toggle: The video https://www.youtube.com/watch?v=MY2hwIhlXVY
on how to make the hamburger menu was great! One drawback is that
it requires using span. I tried using other semantic elements but 
failed the HTML validation. This may be one case where span is justified.
I also ended up modifying the design a bit, but that is expected.
*/

/*************************** HAMBURGER NAV MENU ****************************/
.menu__toggle {
    display: block;
    position: relative;
    top: 1vh;
    left: 1vw;
    z-index: 1;
}

.menu__toggle input[type="checkbox"] {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.menu__toggle span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), 
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), 
    opacity 0.5s ease;
}

.menu__links {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #e6e6e6;
    margin: -100px 0 0 -50px;
    padding: 125px 50px 50px 50px;
    transform: translate(-110%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    border: .25rem double black;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.menu__toggle input:checked ~ ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    transform: none;
    font-size: 2rem;
    color: black;
}

.menu__links a {
    color: black;
}

.menu__toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg);
    background-color: black;
}

.menu__toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
}

.menu__toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg);
}

/*********************** END OF HAMBURGER NAV MENU *************************/

/****************************** SKIP NAV ***********************************/

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    background-color: #e6e6e6;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus {
    position: static;
    width: fit-content;
    height: auto;
    padding: .25rem;
}

/**************************** END SKIP NAV *********************************/

/**************************** START EVENTS *********************************/

.events {
    Display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    margin: .125rem;
}

.eventsFig {
    display: flex;
    justify-content: center;
    max-height: 30vh;
    overflow: hidden;
    border: .15rem solid black;
    border-radius: 1rem;
    margin: .5rem;
    background-color: #e6e6e6;
}

#events, img {
    align-self: center;
}

#events, article {
    display: block;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #e6e6e6;
    border: .15rem solid black;
    border-radius: 1rem;
    overflow: hidden;
    margin: .5rem;
    padding: 1rem;
    min-height: 20vh;
}

#events, .eventsFig, .area1, .area5,.area9,.area13 {
    grid-column: span 2;
}

#events, .area5, .area9 {
    margin-bottom: 5rem;
}

.bookNow {
    font-weight: bolder;
    color: white;
    font-size: 1rem;
    background-color: black;
    border-radius: 1.5rem;
    padding: 1rem;
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 3rem;
}

.bookNow:hover {
    transform: scale(1.1);
    color: #2c2ceb;
    background: radial-gradient(#e6e6e6, #515151);
    cursor: pointer;
}

#events, .price {
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 2rem;
}

/**************************** END EVENTS ***********************************/

/**************************** START DONATE *********************************/

.donate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    margin: 2rem;
}

.donateForm {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #e6e6e6;
    padding: 2rem;
    border-radius: 1rem;
    border: .125rem solid black;
    width: 100%;
    box-shadow: 0px 0px 10px black;
}

.donateForm h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.donateForm label {
    font-size: 1rem;
    display: block;
}

.donateForm input[type="text"], 
.donateForm input[type="email"], 
.donateForm input[type="tel"], 
.donateForm input[type="number"],
.donateForm input[type="card-number"] {
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1rem;
}

.donateForm input:focus {
    border-color: #515151;
    outline: none;
}

.donateForm fieldset {
    border: 1px solid #515151;
    padding: .5rem;
    margin-bottom: 1rem;
    width: 100%;
}

.donateForm legend {
    font-weight: bold;
    margin-bottom: 1rem;
}

.donateForm .checkbox {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.donateForm .checkbox input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: .5rem;
}

.donateForm button[type="submit"] {
    align-self: center;
    padding: 1rem;
    background-color: #000;
    color: white;
    border-radius: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: .5rem;
    height: fit-content;
    width: fit-content;
}

.donateForm button[type="submit"]:hover {
    transform: scale(1.05);
    color: #2c2ceb;
    background: radial-gradient(#e6e6e6, #515151);
    cursor: pointer;
}


/**************************** END DONATE ***********************************/

/**************************** Merchandise **********************************/
.merchandise {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin: auto;
    background-color: white;
    border: solid 7px #666859;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.merchandise > h2 {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    margin-top: 10px;
}

.merch-img-1, .merch-img-2, .merch-img-3, .merch-img-4 {
    grid-column: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    width: 80%;
    height: auto;
    padding-bottom: 10px;
  
}

/* Add to cart button */

input[type=button] {
    width: 150px;
    background-color: rgb(83, 95, 103);
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
}

/* Button when mouse hovers*/
input[type=button]:hover {
    background-color: rgb(147, 155, 163);
}

.posters {
    border: 5px solid #666859;
    margin: auto;
    padding: 10px 10px 20px 10px;
    justify-content: center;
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: column;
  
}

.align-quantity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}

.align-quantity > label {
    padding-right: 5px;
}

.posters input[type=text] {
    width: 20%;
    text-align: center;
}

/******************************* Long Tours *****************************/
table, th, td {
    border: 1px solid;
    padding: 5px;
}


.long-tour-header {
    background-color: white;
    color: #525348;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 36pt;
    margin-bottom: 50px;
  
}
  
.long-tour-table {
    background-color: white;
    padding: 20px;
    color: #525348;
    display: block;
    align-items: center;
    border: solid 4px #827F74;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    overflow-x: auto;
}

.long-tour-table table {
    width: 85%;
}

.long-tour-table select {
    border-radius: 4px;
    padding: 8px;
    background-color: white;
    font-size: 16px;
    color: #525348; 
    cursor: pointer;
}

.long-tour-table select:hover {
    background-color: #D1DCE3;
}

.long-tour {
    background-color: #D1DCE3;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    border: solid 7px #666859;
    border-bottom: none;
    margin-top: 30px;
}

.long-tour-table > caption {
    font-size: 18pt;
    color: #525348;
    padding-bottom: 10px;
    text-align: left;
}

.long-tour-intensity > h3 {
    text-align: center;
}

.low-intensity {
    grid-column: 1;
    grid-row: 2;
    width: 80%;
    margin: auto; 
}

.medium-intensity {
    grid-column: 2; 
    grid-row: 3;
    width: 80%;
    margin: auto;
}

.high-intensity {
    grid-column: 1;
    grid-row: 4;
    width: 80%;
    margin: auto;
}

  .low-intensity > p, .medium-intensity > p, .high-intensity > p {
    margin-bottom: 20px;
    margin-top: 10px;
}

.long-tour-intensity {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 90%;
    margin: auto;
    background-color: #D1DCE3;
    border: solid 7px #666859;
    border-top: none;
}

.low-intensity, .long-tour-img-1, .medium-intensity, .high-intensity, 
  .long-tour-img-2, .long-tour-img-3 {
    grid-column: 1;
    grid-row: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    height: auto;
    padding-bottom: 10px;
  
}

.long-tour-img {
    width: 80%;
    margin: auto;
}

/******************************* Long Tours *****************************/

/************************* Short Tours/Custom Tours ************************/

.short {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shortTourSect {
    align-self: center;
    background-color: #D1DCE3;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
    border: .125rem solid black;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.shortTourSect h2 {
    text-align: center;
    width: 100%;
    display: block;
    background-color: #e6e6e6;
    color: black;
    font-size: 2rem;
    border: .125rem solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.shortTourSect table {
    background-color: #e6e6e6;
    max-width: 80%;
    align-self: center;
}

.shortTable th {
    font-size: 1.15rem;
}

.shortTable td, .shortTable td select option {
    font-size: 1.1rem;
}

.shortTable select {
    width: 100%;
    border-radius: 4px;
    padding: 8px;
    background-color: white;
    font-size: 16px;
    color: #525348; 
    cursor: pointer;
}

.shortTable select:hover {
    background-color: #D1DCE3;
}

.shortTourActivities {
    align-self: center;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: #D1DCE3;
    border-radius: 1rem;
    border: .125rem solid black;
    width: 90%;
    padding: 2rem;
}

.shortTourActivities h2 {
    text-align: center;
    width: 100%;
    display: block;
    background-color: #e6e6e6;
    color: black;
    font-size: 2rem;
    border: .125rem solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.shortTourActivities ul {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    overflow: hidden;
    width: 100%;
    justify-self: center;
    margin-bottom: 3rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #e6e6e6;
}

.shortTourImage {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: .15rem solid black;
    border-radius: 1rem;
    background-color: #e6e6e6;
    width: 100%;
    margin-bottom: 2rem;
    max-height: 30vh;
}

.formChecklist {
    display: flex;
    align-items: center;
}

.customTourHead {
    background-color: white;
    color: black;
    text-align: center;
    border:.125rem solid black;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 30pt;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.customTourForm {
    padding: 2rem;
    border-radius: 1rem;
    background-color: #e6e6e6;
    width: 100%;
    border: .125rem solid black;
}

.customTourForm fieldset {
    padding: 2rem;
}

.formInput {
    width: 100%;
}

.formBackground {
    background-color: #D1DCE3;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    border: .125rem solid #333333;
    width: 90%;
    margin: auto;
}

.customTourInfo {
    background-color: #D1DCE3;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    border: .125rem solid #333333;
    width: 90%;
}

.customTourInfo p {
    text-align: center;
}

.customImg {
    display: flex;
    border: .125rem solid black;
    border-radius: 1rem;
    overflow: hidden;
    max-height: 30vh;
    justify-content: center;
    background-color: #e6e6e6;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.formBackground img {
    align-self: center;
}



/************************* Short Tours/Custom Tours ************************/

/*
Media Queries: I struggled the most with setting up my grid and moving
the grid items so that they stack on small screens. I ended up getting
it to work by properly formatting the selectors and properties.
*/

@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .navbar {
        visibility: hidden;
        height: 0;
    }

    .menu__toggle {
        display: block;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    #events {
        display: block;
    }
    td, th {
        display: block;
    }
}

@media (min-width: 601px) {
    .navbar {
        visibility: visible;
        height: auto;
    }

    .menu__toggle {
        display: none;
    }

    .merchandise {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        gap: 20px;
        width: 80%;
        margin: auto;
        background-color: white;
        border: solid 7px #666859;
    }
    .merchandise h2 {
        grid-column: span 2;
        grid-row: 1;
        font-size: 36pt;
    }
    
    .merch-img-1 {
        grid-column: 1;
        grid-row: 2;
        height: 300px;
    }
    .merch-img-2 {
        grid-column: 2;
        grid-row: 2;
        height: 300px;
    }
    .merch-img-3 {
        grid-column: 1;
        grid-row: 3;
        height: 300px;
    }
    .merch-img-4 {
        grid-column: 2;
        grid-row: 3;
        height: 300px;
    }
    /* End merchandise page */
    /* Long tour page */
    .long-tour-intensity > h3 {
        grid-column: span 2;
        grid-row: 1;
    }
    .long-tour-table > caption {
        text-align: center;
    }
    .long-tour-intensity h3 {
        text-align: center;
        grid-column: span 2;
        grid-row: 1;
    }
    .low-intensity {
        grid-column: 1;
        grid-row: 2;
        width: 80%;
        margin: auto;
        
    }
    .medium-intensity {
        grid-column: 2; 
        grid-row: 3;
        width: 80%;
        margin: auto;
    }
    .high-intensity {
        grid-column: 1;
        grid-row: 4;
        width: 80%;
        margin: auto;
    }
    .low-intensity, .high-intensity {
        padding-left: 50px;
    }
    .low-intensity > p, .medium-intensity > p, .high-intensity > p {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .long-tour-table {
        display: flex;
        flex-direction: column;
    }
    .shortTourTable {
        display: flex;
        flex-direction: column;
    }
    .long-tour-intensity {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr;
        gap: 20px;
        width: 80%;
        margin: auto;
        background-color: #D1DCE3;
        border: solid 7px #666859;
        border-top: none;
    }
    .long-tour{
        width: 80%;
    }
    .long-tour-img {
        width: 80%;
        margin: auto;
    }
    .long-tour-img-1 {
        grid-column: 2;
        grid-row: 2;
    }
    .long-tour-img-2 {
        grid-column: 1;
        grid-row: 3;
    }
    .long-tour-img-3 {
        grid-column: 2;
        grid-row: 4;
    }
    .low-intensity, .high-intensity {
        padding-left: 50px;
    }

}
  /* End long tour */

@media only screen and (min-width: 1020px) {
  .merch-img-1, .merch-img-2, .merch-img-3, .merch-img-4 {
    height: 500px;
  }
}
@media only screen and (min-width: 1920px) {
  .merch-img-1, .merch-img-2, .merch-img-3, .merch-img-4 {
    height: 600px;
  }
}

